<%-include('../includes/header') -%>

<main class="flex flex-col gap-5 my-10 min-w-fit w-full p-2 border-transparent sm:w-96
sm:border-2 sm:border-white sm:mx-auto md:bg-white/20">
<h1 class="container font-bold text-red-600 text-4xl uppercase w-full m-0 text-center sm:w-92 sm:m-auto">Connexion</h1>
<form class="flex flex-col w-full" method="post">
<label class="text-xl m-1 font-bold inline-flex" for="username"><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    width="24"
    height="24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 12a4.5 4.5 0 100-9 4.5 4.5 0 000 9zM15 13a2 2 0 11-4 0 2 2 0 014 0z"
    ></path>
  </svg>
  Nom d'utilisateur</label>
<input class="w-full h-[25px] border-transparent shadow-sm ring ring-slate-300 hover:ring hover:ring-red-300 rounded"
type="text" id="username" name="username"><br>
<label class="text-xl m-1 font-bold inline-flex"  for="password"><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    width="24"
    height="24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 6h2a2 2 0 012 2v5a2 2 0 01-2 2h-2a2 2 0 01-2-2v-5a2 2 0 012-2zm1 10a1 1 0 100-2 1 1 0 000 2z"
    ></path>
  </svg>
  Mot de passe</label>
<input class="w-full h-[25px] border-transparent shadow-sm ring ring-slate-300 hover:ring hover:ring-red-300 rounded"
type="password" id="password" name="password"><br>
<input class="font-extrabold max-w-fit text-white inline-flex mt-5 ring ring-red-300 hover:ring hover:ring-blue-300
 rounded shadow-sm p-1 bg-gradient-to-b from-rose-900 to-red-900 hover:translate-y-[3px]" type="submit" value="Se connecter">
</form>    
</main>

