<footer class="w-full h-fit bg-slate-800 text-white mt-2">
    <div class="flex w-full justify-evenly">
      <div class="grid grid-row-2 md:grid-cols-2">
        <img class="mb-2 object-cover h-20 w-20" src="images/logo_icon.jpg" alt="">
        <span class="block">&copy;2017-2023</span>
      </div>
      <div class="grid columns-sm">
        <h5 class="text-xl font-bold text-red-700 h-fit">Features</h5>
        <ul class="text-sm">
          <li class="mb-1"><a class="" href="#">Team feature</a></li>
          <li class="mb-1"><a class="" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="" href="#">Another one</a></li>
          <li class="mb-1"><a class="" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="grid columns-sm h-fit">
        <h5 class="text-xl font-bold text-red-700">Resources</h5>
        <ul class="text-sm">
          <li class="mb-1"><a class="" href="#">Resource</a></li>
          <li class="mb-1"><a class="" href="#">Resource name</a></li>
          <li class="mb-1"><a class="" href="#">Another resource</a></li>
          <li class="mb-1"><a class="" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="grid columns-sm h-fit">
        <h5 class="text-xl font-bold text-red-700">About</h5>
        <ul class="text-sm">
          <li class="mb-1"><a class="" href="#">Team</a></li>
          <li class="mb-1"><a class="" href="#">Locations</a></li>
          <li class="mb-1"><a class="" href="#">Privacy</a></li>
          <li class="mb-1"><a class="" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
</html>
</footer>  
</body>
</html>