<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node project</title>
  <link rel="stylesheet" href="style/tailwindcss.css">
</head>
<body class="bg-blue-500">
  <header class="w-full h-20 p-1 flex justify-around bg-slate-800 sticky top-0">
    <img class="object-cover w-20 h-full" src="images/logo.jpg" alt="logo">
    <nav class="h-full min-w-fit m-0 p-1 text-center">
      <ul class="w-full flex justify-around items-center gap-4 font-bold h-full">
        <li class="inline-block h-full text-center">
          <a class="h-full inline-flex text-center max-w-fit mt-1 ring ring-slate-100 rounded shadow-md p-1  text-semibold text-white
           bg-slate-900 hover:ring hover:bg-slate-900 items-center" href="/">Login</a>
        </li>
        <li class="inline-block h-full  text-center"><a class="h-full inline-flex max-w-fit mt-1 ring ring-slate-100 rounded shadow-md p-1  text-semibold text-white
           bg-slate-900 hover:ring hover:bg-slate-900 items-center" href="/incription">Inscription</a></li>
        <li class="inline-block h-full  text-center"><a class="h-full inline-flex max-w-fit mt-1 ring ring-slate-100  rounded shadow-md p-1  text-semibold text-white
           bg-slate-900 hover:ring hover:bg-slate-900 items-center" href="/liste">Liste</a></li>
      </ul>
    </nav>
  </header>
 
 